### OOPS CONCEPTS

##### We will create a class-class is a design or blueprint of an object. without the blueprint ideally an object cannot be created. Class is a logical entity,we work with objects(real time entities) created from classes.

In [2]:
#class is a collection of objects-we create an empty class

class Learner:
    pass

In [3]:
#creating two objects from class 'Learner'
abhijeet=Learner()
abhinaya=Learner()

In [4]:
#finding the class information:
print(type(abhijeet))

<class '__main__.Learner'>

In [4]:
#we will work with objects,not classes.classes are only needed to create an object.

In [5]:
object1=15

In [6]:
print(object1)

15

In [7]:
object1

15

In [8]:
#functions will always be followed with a parenthesis-()

In [8]:
print(type(object1))

<class 'int'>

In [10]:
#97.5--#float

In [9]:
obj3='this is a python session'
obj3

'this is a python session'

In [10]:
type(obj3)

str

In [11]:
obj4=4+7j
#complex datatype contains a real component and an imaginary component.real component=4,imaginary=7j

In [13]:
obj4
type(obj4)

complex

In [16]:
#the above is a problem of multiple assignments. when we have multiple assignments,we use a print() function.

In [14]:
print(obj4)
print(type(obj4))

(4+7j)
<class 'complex'>

### What is an instance variable? -If the value of a variable differs from object to object then such variables are called instance variables. To create 2 objects which are different from each other,we create instance(object) variables within a class

In [15]:
abhijeet.surname='Danai'
abhijeet.age=25

In [16]:
abhijeet.age

25

In [17]:
abhinaya.languages=['R','Python']

In [18]:
abhijeet.languages

AttributeError: 'Learner' object has no attribute 'languages'

In [19]:
abhinaya.languages

['R', 'Python']

In [20]:
abhijeet.surname

'Danai'

In [21]:
x=15
y=23.5
z='Second'

In [22]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [23]:
w=True
print(type(w))

<class 'bool'>

In [24]:
v=None
print(type(v))

<class 'NoneType'>

In [25]:
#multiline string values:-triple quotes
a="""This is the second
session of programming basics"""

### Creating custom functions:

In [28]:
abc=[6,7,8,9]

In [30]:
abc.mean()

AttributeError: 'list' object has no attribute 'mean'

In [10]:
#we want to compute the mean above,so we will get it from a package(collection of functions).We get the 
#mean function from the 'statistics' package.

In [31]:
#To activate/initialize a package in python,we use the 'import' keyword
import statistics

In [32]:
statistics.mean(abc)

7.5

In [33]:
6+7+8+9

30

In [34]:
30/4

7.5

In [35]:
#creating our own custom function for 'mean'
def my_mean(v,w,x,y):
    return (v+w+x+y)/4

In [36]:
my_mean()

TypeError: my_mean() missing 4 required positional arguments: 'v', 'w', 'x', and 'y'

In [37]:
my_mean(6,7,8,9) #calling a function

7.5

In [38]:
a=5
b=2
c=7
d=9

In [39]:
my_mean(a,b,c,d)

5.75

#### OOPS-CONTINUED

In [22]:
#lets create a class with attributes: attributes are features within the class,while class is an object constructor

In [40]:
class student:
    Marks=90
    pass
#the variable 'marks' is specific to the class 'student'.this attribute is not shared with objects created from this class

In [41]:
#create two objects belonging to the class'student'.
tim=student()
sim=student()

In [42]:
#checking the attributes of each object:
print(tim.__dict__)

{}

In [43]:
#creating instance variables for tim:
tim.age=25
tim.surname='ray'
tim.grade=12

In [44]:
#checking the attributes of each object:
print(tim.__dict__)

{'age': 25, 'surname': 'ray', 'grade': 12}

In [45]:
#create object/instance variables for sim:
sim.age=30
sim.surname='may'
sim.grade='singing'

In [46]:
#checking the attributes of each object:
print(sim.__dict__)

{'age': 30, 'surname': 'may', 'grade': 'singing'}

In [30]:
#'Marks' is a class variable which is not shared with the objects,tim and sim. so these 2 objects tim,sim can have
#different marks

In [47]:
sim.Marks=99

In [48]:
print(sim.__dict__)

{'age': 30, 'surname': 'may', 'grade': 'singing', 'Marks': 99}

In [49]:
print(tim.__dict__)

{'age': 25, 'surname': 'ray', 'grade': 12}

#### Changing or updating the marks in the class variable can ONLY be done within the class,NOT with the help of object variables.

In [50]:
print(student.__dict__)

{'__module__': '__main__', 'Marks': 90, '__dict__': <attribute '__dict__' of 'student' objects>, '__weakref__': <attribute '__weakref__' of 'student' objects>, '__doc__': None}

In [51]:
student.Marks=100

In [52]:
print(student.__dict__)

{'__module__': '__main__', 'Marks': 100, '__dict__': <attribute '__dict__' of 'student' objects>, '__weakref__': <attribute '__weakref__' of 'student' objects>, '__doc__': None}

#### We cannot change/modify a class variable with the help of an object

In [53]:
class Employee:
    working_days=60
    def print_details(self):
        return f"The employee city name is {self.city} Salary is {self.salary} and designation is {self.position}"

In [41]:
## we are creating a class variable 'working_days' and a function(method)called 'print_details' within the class 'Employee'

In [54]:
#lets create 2 objects of the class Employee
kingshuk=Employee()
mary=Employee()
madhu=Employee()

In [55]:
kingshuk.city='Delhi'
kingshuk.salary=2000
kingshuk.position='Programmer'

In [56]:
mary.city='Bangalore'
mary.salary=2500
mary.position='Analyst'

#### We create a method(function) in the class 'Employee' called 'print_details',and the argument 'self' refers to the object we want to apply this function on. Say we want to apply the function on mary then self='mary'

In [57]:
print(mary.print_details())

The employee city name is Bangalore Salary is 2500 and designation is Analyst

#### Constructors:

#### Constructors is a special method(function). When this method(function) is called it automatically creates an object from a class.
#### when constructors are called it activates the attributes(features) of the class for an object. We use the 'init' method to create an object from the class,the object will retain the class features(attributes)

In [58]:
class person:
    def __init__(self,firstname,lastname):
        self.first=firstname
        self.last=lastname

In [59]:
nishi=person('nishi','gupta')

In [60]:
nishi.last

'gupta'

#### end of session2:

In [ ]:
#shortcut for markdown
#escape+m

### Scope of a variable:

In [1]:
### The lifetime of a variable in a single session. Or its lifespan.

In [3]:
### A variable with global scope is always defined outside a function(custom function)

In [61]:
a=10 ##global variable
def my_func():
    print(a)

In [62]:
my_func()

10

In [63]:
a=10 #global variable
def my_func():
    a=40 #local variable
    print(a)

In [64]:
my_func()

40

In [65]:
a

10

In [12]:
# A variable which is defined inside a function has internal scope and is called a local variable
# A variable which is defined outside a function has a global scope,and is active throughout the current session.

In [13]:
#To declare a local variable 'global',we use the global keyword.

In [66]:
a=10
def my_func():
    global a
    a=40 #has global scope
    print(a)

In [67]:
my_func()

40

In [68]:
a

40

In [21]:
#enclosed scope: when a variable is neither local nor global it has an enclosed scope(it works with nested functions)

In [75]:
def first():
    m=15 #has a local scope w.r.t function first()
    def second():
        n=30   #has a local scope w.r.t function second()
        print(m)# here m has an enclosed scope
        print(n)#n is local
    second()
    print(m)
first()

15
30
15

In [70]:
def first():
    m=15 #has a local scope w.r.t function first()
    def second():
        n=30
        m=50       
        print(m)# here m has an enclosed scope
        print(n)#n is local
    second()
    print(m)
first()

50
30
15

In [77]:

m=90  #this m is a global variable--as it is outside a function
def first():
    m=15 #has a local scope w.r.t function first()
    def second():
        nonlocal m #removes 'm' from local scope of both first and second. It has the same value when the function is called
        n=30
        m=45       
        print(m)# here m has an enclosed scope
        print(n)#n is local
    second()
    print(m)
first()

45
30
45

In [78]:
m

90

In [31]:
#Enumerate-built in scope

#### Loops:

In [79]:
range(10)

range(0, 10)

In [80]:
b=[2,4,6,8,10]

In [81]:
for name in b:
    print(name)

2
4
6
8
10

In [82]:
for y in range(10):
    print(y)

0
1
2
3
4
5
6
7
8
9

In [83]:
#setting limits for the data we choose:
for y in range(5,15):
    print(y)
                                       #in this case,the upper limit is excluded

5
6
7
8
9
10
11
12
13
14

In [84]:
for y in range(5,15,3):
    print(y)
    
#2 is the interval or 'n'. So we will skip (n-1) elements while reading it

5
8
11
14

### While Loops:

In [85]:
x=0
while x<5:
    print(x)
    x=x+1

0
1
2
3
4

In [42]:
#enumerate function:

In [86]:
list1=['apples','bananas','oranges','lemons','mangoes']

In [87]:
for position,i in enumerate(list1):
    print(position,i)
#in the output 0 is the position

0 apples
1 bananas
2 oranges
3 lemons
4 mangoes

In [88]:
for prakirtik in enumerate(list1):
    print(prakirtik)
#in the ouput o represents the count of the execution

(0, 'apples')
(1, 'bananas')
(2, 'oranges')
(3, 'lemons')
(4, 'mangoes')

### enumerate function helps us in dealing with multiple values(iterables) where we want to keep a track of the count of values.

In [89]:
obj='simplilearn'
obj1=enumerate(obj)

In [90]:
print(list(enumerate(obj)))

[(0, 's'), (1, 'i'), (2, 'm'), (3, 'p'), (4, 'l'), (5, 'i'), (6, 'l'), (7, 'e'), (8, 'a'), (9, 'r'), (10, 'n')]

#### Sorted:

In [91]:
list2=[2,9,13,25,1,15]
sorted(list2)   #default sorting is done in asc order

[1, 2, 9, 13, 15, 25]

In [92]:
list(reversed(list2)) #reverses the sequence of creation

[15, 1, 25, 13, 9, 2]

In [93]:
#to sort the elements in the descending order:
sorted(list2,reverse=True)

[25, 15, 13, 9, 2, 1]

In [94]:
m=('A','B','C','D','E')
n=('red','blue','green','yellow','magenta')

In [95]:
z=zip(m,n)
print(tuple(z))

(('A', 'red'), ('B', 'blue'), ('C', 'green'), ('D', 'yellow'), ('E', 'magenta'))

In [58]:
#Slicing/subsetting---we use box brackets to subset our objects.[]

In [96]:
t1='programming'

In [97]:
t1[7]

'm'

In [98]:
t1[-4]

'm'

In [99]:
t1.index('g')

3

In [100]:
print(t1.startswith('g'))

False

### lists:

* lists are ordered collection of elements
* lists are mutable--can be changed
* Lists can be created with box brackets and also the list() function
* Lists are the most powerful data structures as it contains elements of mixed data types.

In [101]:
#1
list1=[56,67.5,'text',True]

In [102]:
list1   #maintains the same sequence/order of creation.

[56, 67.5, 'text', True]

In [103]:
#2.
list1[2]='string'

In [104]:
list1

[56, 67.5, 'string', True]

In [105]:
#adding a value to a list:
list1.append('extra')

In [106]:
list1

[56, 67.5, 'string', True, 'extra']

In [107]:
#if i want to include a value in a specific position we use the insert function:
list1.insert(3,'90')

In [108]:
list1

[56, 67.5, 'string', '90', True, 'extra']

In [109]:
#we can remove elements too from a list
list1.remove('90')

In [110]:
list1

[56, 67.5, 'string', True, 'extra']

In [111]:
list2=list([56, 67.5, 'string', True, 'extra'])

In [112]:
print(type(list2))

<class 'list'>

In [113]:
string1='Welcome to the course of data science from simplilearn'

In [114]:
string1[-11:]

'simplilearn'

In [115]:
string1[25:37] #upper limit is ignored

'data science'

In [10]:
# data types-tuples,sets,dictionaries
# loop control statements
#if else conditional statements
#functions

*  A for loop is used for iterating over a sequence of values(list,a dict,set). With the for loop we can execute a set of statements once for each item in the collection.

*   for<any variable name> in <collection of values>:
    * body of the loop

In [116]:
#count controlled loops:
for i in range(10):
    print('hello python:',i)

hello python: 0
hello python: 1
hello python: 2
hello python: 3
hello python: 4
hello python: 5
hello python: 6
hello python: 7
hello python: 8
hello python: 9

In [117]:
#collection of values
mylist=[10,100,1000]
for kkk in mylist:
    print('kkk is equal to:',kkk)

kkk is equal to: 10
kkk is equal to: 100
kkk is equal to: 1000

In [118]:
#looping through all elements of a string:
for j in 'simpilearn':
    print(j)

s
i
m
p
i
l
e
a
r
n

In [119]:
#controlling the execution of a loop with a 'break' statements:
subjects=['History','Geography','chemistry','mathematics','economics']

for i in subjects:
    print(i)
    if i=='mathematics':
        break

History
Geography
chemistry
mathematics

In [121]:
#controlling the execution of a loop with a 'break' statements:
subjects=['History','Geography','chemistry','mathematics','economics']

for i in subjects:
    
    if i=='mathematics':
        break
    print(i)

History
Geography
chemistry

In [122]:
#continue statements-skips the current iteration of the loop and continues to the next iteration
for j in 'python session':
    if j=='o' or j=='t' or j=='p':
        continue
    print('current value:',j)

current value: y
current value: h
current value: n
current value:
current value: s
current value: e
current value: s
current value: s
current value: i
current value: n

In [123]:
for j in 'python session':
    if j=='s':
        break
    print('current value:',j)

current value: p
current value: y
current value: t
current value: h
current value: o
current value: n
current value:

In [124]:
## pass statements is used to create empty loops:
for i in 'simplilearn':
    pass
print(i)

n

#### A while loop will execute till a certain condition(mentioned after the while keyword) is true:

In [125]:
while False:
    print('hello')

In [ ]:
#while True:
print('hello')

In [1]:
count=-6

if count>0:
    print('this is a positive value')
else:
    print('This is a negetive number')

This is a negetive number

In [2]:
user=int(input('Number:'))

Number: 5

In [3]:
if user>0:
    print(user,': this is a positive value')
else:
    print(user,': this is a negetive number')

5 : this is a positive value

In [4]:
### nested if conditions:

age=42
if age>=50:
    print('Senior')
elif age>=30:
    print('Mature')
elif age>=20:
    print('Young')
else:
    print('Not applicable')

Mature

In [5]:
### nested if conditions:

age=15
if age>=50:
    print('Senior')
elif age>=30:
    print('Mature')
elif age>=20:
    print('Young')

print('Not applicable')

Not applicable

In [8]:
age = int(input('Enter Age'))

Enter Age 6

In [9]:
if age>=50:
    print('Senior')
elif age>=30:
    print('Mature')
elif age>=20:
    print('Young')
else:
    print('Not applicable')

Not applicable

In [4]:
#vectorised form of if-else statements:
#if condition:code

In [10]:
count1=67

In [11]:
if count1<20:print('The value is less than twenty')

In [10]:
#code:if:condition:else

In [12]:
'age is less than twenty'if count1<20 else print('age is greater than 20')

age is greater than 20

In [13]:
number=89

In [14]:
'Number is even' if number%2==0 else print('The number is odd')

The number is odd

In [15]:
user=int(input('Number:'))

Number: 15

In [16]:
if user>0:
    print(user,':this is a positive value')
else:
    print(user,':this is negtaive value')

15 :this is a positive value

#### Tuples:

* Collection of elements in an object separated by commas.
* We create a tuple using round brackets or by using the 'tuple' function
* contains elements of mixed data types
* Tuples are immutable(elements of a tuple cannot be changed)

In [2]:
tup1=('string',45,56.5,True,5+7j)

In [3]:
print(type(tup1))

<class 'tuple'>

In [6]:
tup2=tuple((8,9,'tuple'))
print(type(tup2))

<class 'tuple'>

In [7]:
tup1[2]

56.5

In [8]:
tup1[2]=65.5

TypeError: 'tuple' object does not support item assignment

In [9]:
tup= tup1+tup2
tup

('string', 45, 56.5, True, (5+7j), 8, 9, 'tuple')

#### Sets are unordered collection of elements that is mutable  and has no duplicate values.

In [10]:
set1={'String',78,93.2,3+5j}

In [12]:
#sets can be created with a set function:
list1=['text',99,35.2,5+2j,None,0,False]
#converting this list to a set(typecasting)
set2=set(list1)
print(set2)
print(type(set2))

{0, 35.2, 99, 'text', (5+2j), None}
<class 'set'>

In [14]:
list1 #lists allow duplicates,but a set does not.

['text', 99, 35.2, (5+2j), None, 0, False]

In [15]:
# sets are mutable: elements can be added or removed in a set
set3={77,88,99}
set3

{77, 88, 99}

In [16]:
set3.add(15)
print(set3)

{88, 99, 77, 15}

In [17]:
#to add multiple elements:
set3.update([10,11,13])

In [18]:
set3

{10, 11, 13, 15, 77, 88, 99}

In [19]:
#removing elemts from a set
set3.discard(88)

In [20]:
set3

{10, 11, 13, 15, 77, 99}

In [21]:
set4={10,12,13,14,15}

In [22]:
#union of both sets:
set_union=set3.union(set4)
set_union

{10, 11, 12, 13, 14, 15, 77, 99}

In [23]:
#difference between two sets:
set_diff=set3.difference(set4)
set_diff

{11, 77, 99}

##### Dictionaries:

#### Dictionaries are key-value pairs,where the key is immutable while value is mutable.

In [24]:
dict1={'name':'john','marks':89}
dict1

{'name': 'john', 'marks': 89}

In [25]:
print(type(dict1))

<class 'dict'>

In [26]:
dict1.keys()

dict_keys(['name', 'marks'])

In [27]:
dict1.values()

dict_values(['john', 89])

In [28]:
dict2=dict({'Name':'Python',2:'second',3:'third','summer':'mangoes'})

In [29]:
dict2

{'Name': 'Python', 2: 'second', 3: 'third', 'summer': 'mangoes'}

In [30]:
dict2.keys()

dict_keys(['Name', 2, 3, 'summer'])

In [31]:
#keys are immutable:
dict2['Name']='language'

In [32]:
dict2

{'Name': 'language', 2: 'second', 3: 'third', 'summer': 'mangoes'}

In [33]:
#slicing a dict
dict2.get(2)

'second'

In [38]:
dict2.get(1)  #slicing a dict is possible only with respect to keys

In [39]:
#delecting records from a dict
del dict2['summer']

In [40]:
dict2

{'Name': 'language', 2: 'second', 3: 'third'}

In [41]:
del dict2['language']

KeyError: 'language'

In [42]:
a=[8,10,15,12]
b=[2,3,2,3]

In [43]:
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [44]:
c=a-b

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [45]:
t1=(8,10,15,12)
t2=(2,3,2,3)

In [46]:
c=t1-t2

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [47]:
c=t1+t2

In [48]:
c

(8, 10, 15, 12, 2, 3, 2, 3)

#### Mathematical operations like addition,substraction,multiplication or division cannot be applied on the internal data structures like lists,sets,tuples or dictionaries.

* To apply mathematical operations on data we have to store it in an array.
* arrays are created using an array function
* the array function can be fetched from the 'Numpy' package,Numpy stands for 'Numerical Python'

In [49]:
t1=(8,10,15,12)
t2=(2,3,2,3)

In [50]:
import numpy as np

In [51]:
t1_array=np.array(t1)
t2_array=np.array(t2)

In [52]:
print(type(t1_array))
print(type(t2_array))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [53]:
t1_array-t2_array

array([ 6,  7, 13,  9])

In [54]:
unit=[10,12,15]
price=[21,20,22]
Units=np.array(unit)
Price=np.array(price)
Total_Revenue = Units*Price
Total_Revenue

array([210, 240, 330])