In [2]:
import selenium 
import pandas as pd
from selenium import webdriver 
from selenium.common.exceptions import NoSuchElementException
import warnings 
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By 
import time 
import urllib.request
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [4]:
driver.maximize_window()

In [16]:
import pandas as pd
from selenium.common.exceptions import NoSuchElementException

video = []

tables = driver.find_elements(By.XPATH, "//table[@class='sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter']")

if tables:
    table = tables[0]  

    tbody = table.find_element(By.TAG_NAME, 'tbody')
    rows = tbody.find_elements(By.TAG_NAME, 'tr')

    for row in rows:
        cells = row.find_elements(By.TAG_NAME, 'td')

        if len(cells) >= 4:  
            try:
                video_name = cells[0].find_element(By.TAG_NAME, 'a').text
            except NoSuchElementException:
                video_name = "N/A"  
            try:
                uploader = cells[1].find_element(By.TAG_NAME, 'a').text
            except NoSuchElementException:
                uploader = "N/A"  

            views = cells[2].text
            date = cells[3].text

            video.append({
                'Video Name': video_name,
                'Uploader': uploader,
                'Views': views,
                'Date': date
            })

else:
    print("No tables found with the given XPath.")

In [17]:
pd.set_option('display.max_columns', None)  
pd.set_option('display.width', 1000)        
pd.set_option('display.colheader_justify', 'left') 
pd.set_option('display.float_format', '{:.2f}'.format)  

df = pd.DataFrame(video)

print(df)

   Video Name                                 Uploader                                     Views  Date
0                            Baby Shark Dance  Pinkfong Baby Shark - Kids' Songs & Stories  15.09      June 17, 2016
1                                   Despacito                                   Luis Fonsi   8.54   January 12, 2017
2                        Johny Johny Yes Papa                                          N/A   6.95    October 8, 2016
3                                   Bath Song                   Cocomelon - Nursery Rhymes   6.85        May 2, 2018
4                           Wheels on the Bus                   Cocomelon - Nursery Rhymes   6.56       May 24, 2018
5                               See You Again                                  Wiz Khalifa   6.40      April 6, 2015
6                                Shape of You                                   Ed Sheeran   6.33   January 30, 2017
7                 Phonics Song with Two Words        ChuChu TV Nursery Rhymes & Kids Songs   6.00      March 6, 2014
8                                 Uptown Funk                                  Mark Ronson   5.33  November 19, 2014
9                               Gangnam Style                                          Psy   5.29      July 15, 2012
10  Learning Colors â€“ Colorful Eggs on a Farm                                          N/A   5.15  February 27, 2018
11                             Dame Tu Cosita                                Ultra Records   4.74      April 5, 2018
12                                     Axel F                                   Crazy Frog   4.69      June 16, 2009
13                         Masha and the Bear                                   Get Movies   4.60   January 31, 2012
14                        Baa Baa Black Sheep                   Cocomelon - Nursery Rhymes   4.17      June 25, 2018
15                             Lakdi Ki Kathi                                          N/A   4.13      June 14, 2018
16                                      Sugar                                     Maroon 5   4.09   January 14, 2015
17                             Counting Stars                                  OneRepublic   4.05       May 31, 2013
18                                       Roar                                   Katy Perry   4.03  September 5, 2013
19           Waka Waka (This Time for Africa)                                      Shakira   4.01       June 4, 2010
20                      Shree Hanuman Chalisa                        T-Series Bhakti Sagar   3.97       May 10, 2011
21          Humpty the train on a fruits ride                                          N/A   3.89   January 26, 2018
22                                      Sorry                                Justin Bieber   3.84   October 22, 2015
23                          Thinking Out Loud                                   Ed Sheeran   3.79    October 7, 2014
24                                    Perfect                                   Ed Sheeran   3.78   November 9, 2017
25                                 Dark Horse                                   Katy Perry   3.77  February 20, 2014
26                                 Let Her Go                                    Passenger   3.70      July 25, 2012
27                                      Faded                                  Alan Walker   3.67   December 3, 2015
28                             Girls Like You                                     Maroon 5   3.65       May 31, 2018
29                                    Lean On                         Major Lazer Official   3.65     March 22, 2015

In [18]:
driver.quit()

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get("https://www.bcci.tv/")

In [4]:
driver.maximize_window()

In [5]:
button=driver.find_element(By.XPATH,"/html/body/header/div[3]/div[2]/ul/div[1]/a[2]")
button.click()

In [6]:
button=driver.find_element(By.XPATH,"/html/body/section/div/div/div/div/div/div[2]/div[2]/div[1]/div[2]")
button.click()

In [13]:
matches = driver.find_elements(By.XPATH, "//div[@class='tab-inner-content']")

fixture_list = []

for match in matches:
    series_list = match.find_elements(By.XPATH, ".//div[@class='match-info']/h5")
    place_list = match.find_elements(By.XPATH, ".//div[@class='match-info']/div[3]")
    date_list = match.find_elements(By.XPATH, ".//div[@class='match-date-info']/div[1]")
    time_list = match.find_elements(By.XPATH, ".//div[@class='match-date-info']/div[2]")

    for i in range(len(series_list)):
        series = series_list[i].text
        place = place_list[i].text
        date = date_list[i].text
        time_match = time_list[i].text

        fixture_list.append([series, place, date, time_match])

df = pd.DataFrame(fixture_list, columns=["Series", "Place", "Date", "Time"])

In [14]:
df

,Series,Place,Date,Time
0,ICC Womens T20 World Cup 2024,"Dubai International Cricket Stadium, Dubai",4 Oct,19:30 IST
1,Bangladesh Tour of India T20 Series 2024,"Shrimant Madhavrao Scindia Cricket Stadium, Gw...",6 Oct,19:00 IST
2,ICC Womens T20 World Cup 2024,"Dubai International Cricket Stadium, Dubai",6 Oct,15:30 IST
3,Australia U19 Tour of India Multiday Series,"M A Chidambaram Stadium, Chennai",7 Oct,9:30 IST
4,Bangladesh Tour of India T20 Series 2024,"Arun Jaitley Stadium, Delhi",9 Oct,19:00 IST

In [22]:
driver.quit()

In [23]:
driver = webdriver.Chrome()

In [24]:
driver.get("https://statisticstimes.com/#google_vignette")

In [25]:
driver.maximize_window()

In [26]:
economy_button = driver.find_element(By.XPATH, "/html/body/div[2]/div[1]/div[2]/div[2]/button")
economy_button.click()
button=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
button.click()

india_economy_link = driver.find_element(By.XPATH, "/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
india_economy_link.click()

driver.implicitly_wait(5)


gdp_data = []

tables = driver.find_elements(By.XPATH, "(//div[@class='dataTables_wrapper']//table)[1]")

if tables:
    table = tables[0]  

    tbody = table.find_element(By.TAG_NAME, 'tbody')
    rows = tbody.find_elements(By.TAG_NAME, 'tr')

    for row in rows:
        cells = row.find_elements(By.TAG_NAME, 'td')

        if len(cells) >= 7:  
            try:
                rank = cells[0].text
            except NoSuchElementException:
                rank = "N/A"
                
            try:
                state = cells[1].text
            except NoSuchElementException:
                state = "N/A"
                
            try:
                gsdp_23_24 = cells[2].text if cells[2].text != "_" else "N/A"
            except NoSuchElementException:
                gsdp_23_24 = "N/A"
                
            try:
                gsdp_22_23 = cells[3].text if cells[3].text != "_" else "N/A"
            except NoSuchElementException:
                gsdp_22_23 = "N/A"
                
            try:
                gsdp_21_22 = cells[4].text if cells[4].text != "_" else "N/A"
            except NoSuchElementException:
                share_21_22 = "N/A"
            try:
                share_21_22 = cells[4].text if cells[4].text != "_" else "N/A"
            except NoSuchElementException:
                share_21_22 = "N/A"
                
            try:
                gdp_billion = cells[5].text if cells[5].text != "_" else "N/A"
            except NoSuchElementException:
                gdp_billion = "N/A"

        
            gdp_data.append({
                'Rank': rank,
                'State': state,
                'GSDP(23-24)': gsdp_23_24,
                'GSDP(22-23)': gsdp_22_23,
                'GSDP(21-22)': gsdp_21_22,
                'Share(18-19)': share_21_22,
                'GDP($ billion)': gdp_billion
            })

else:
    print("No tables found with the given XPath.")


df = pd.DataFrame(gdp_data)



print(df)


driver.quit()

   Rank                      State GSDP(23-24) GSDP(22-23) GSDP(21-22)  \
0     1                Maharashtra           -           -   3,108,022
1     2                 Tamil Nadu   2,700,109   2,364,514   2,071,286
2     3                  Karnataka   2,500,733   2,269,995   1,978,094
3     4              Uttar Pradesh   2,547,861   2,258,040   1,975,595
4     5                    Gujarat           -   2,230,609   1,928,683
5     6                West Bengal   1,700,939   1,531,758   1,329,238
6     7                  Rajasthan   1,524,030   1,365,849   1,193,489
7     8             Andhra Pradesh   1,439,674   1,303,524   1,148,471
8     9                  Telangana   1,463,960   1,308,034   1,124,204
9    10             Madhya Pradesh   1,363,327   1,246,471   1,092,964
10   11                     Kerala           -   1,046,188     934,542
11   12                      Delhi   1,107,746   1,014,688     881,336
12   13                    Haryana   1,095,535     984,055     868,905
13   14                     Odisha     832,790     753,177     662,886
14   15                      Bihar           -     751,396     650,302
15   16                     Punjab     736,423     676,164     617,192
16   17                      Assam     565,401     493,167     411,454
17   18               Chhattisgarh     505,887     464,399     410,525
18   19                  Jharkhand           -     393,722     358,863
19   20                Uttarakhand     346,206     303,781     267,143
20   21            Jammu & Kashmir     246,465     224,226     193,352
21   22           Himachal Pradesh     207,430     191,728     172,162
22   23                        Goa           -      93,672      84,266
23   24                    Tripura           -      72,636      62,550
24   25                 Chandigarh           -      54,285      46,096
25   26                 Puducherry           -      49,643      43,810
26   27                  Meghalaya      47,381      42,697      38,785
27   28                     Sikkim           -      42,756      37,557
28   29                    Manipur           -           -      36,594
29   30          Arunachal Pradesh           -      39,630      34,775
30   31                   Nagaland           -      35,643      31,038
31   32                    Mizoram           -           -      27,824
32   33  Andaman & Nicobar Islands           -           -      10,371

   Share(18-19) GDP($ billion)
0     3,108,022         13.17%
1     2,071,286          8.78%
2     1,978,094          8.38%
3     1,975,595          8.37%
4     1,928,683          8.17%
5     1,329,238          5.63%
6     1,193,489          5.06%
7     1,148,471          4.87%
8     1,124,204          4.76%
9     1,092,964          4.63%
10      934,542          3.96%
11      881,336          3.73%
12      868,905          3.68%
13      662,886          2.81%
14      650,302          2.76%
15      617,192          2.62%
16      411,454          1.74%
17      410,525          1.74%
18      358,863          1.52%
19      267,143          1.13%
20      193,352          0.82%
21      172,162          0.73%
22       84,266          0.36%
23       62,550          0.27%
24       46,096          0.20%
25       43,810          0.19%
26       38,785          0.16%
27       37,557          0.16%
28       36,594          0.16%
29       34,775          0.15%
30       31,038          0.13%
31       27,824          0.12%
32       10,371          0.04%

In [48]:
driver = webdriver.Chrome()

In [5]:
driver.get("https://www.billboard.com/")

In [6]:
driver.maximize_window()

In [51]:
charts_menu = driver.find_element(By.XPATH, "/html/body/div[3]/header/div/div[3]/div/nav/ul/li[1]/a")
charts_menu.click()

In [73]:
songs_data = []


songs = WebDriverWait(driver, 10).until(
    EC.presence_of_all_elements_located((By.XPATH, "//div[@class='o-chart-results-list-row-container']"))
)


for song in songs:
    try:
       
        song_name = song.find_element(By.XPATH, ".//ul/li[4]/ul/li[1]/h3").text.strip()
    except NoSuchElementException:
        song_name = "N/A"
    
    try:
        
        artist_name = song.find_element(By.XPATH, ".//ul/li[4]/ul/li[1]/span").text.strip()
    except NoSuchElementException:
        artist_name = "N/A"

    try:
       
        last_week_rank = song.find_element(By.XPATH, ".//ul/li[4]/ul/li[4]/span").text.strip()
    except NoSuchElementException:
        last_week_rank = "N/A"

    try:
  
        peak_rank = song.find_element(By.XPATH, ".//ul/li[4]/ul/li[5]/span").text.strip()
    except NoSuchElementException:
        peak_rank = "N/A"
    
    try:
       
        weeks_on_board = song.find_element(By.XPATH, ".//ul/li[4]/ul/li[6]/span").text.strip()
    except NoSuchElementException:
        weeks_on_board = "N/A"

    
    songs_data.append({
        'Song Name': song_name,
        'Artist Name': artist_name,
        'Last Week Rank': last_week_rank,
        'Peak Rank': peak_rank,
        'Weeks on Chart': weeks_on_board
    })


df = pd.DataFrame(songs_data)

print(df)

driver.quit()

             Song Name                          Artist Name Last Week Rank  \
0   A Bar Song (Tipsy)                            Shaboozey              1
1      I Had Some Help  Post Malone Featuring Morgan Wallen              2
2             Espresso                    Sabrina Carpenter              3
3     Good Luck, Babe!                        Chappell Roan              4
4     Die With A Smile               Lady Gaga & Bruno Mars              5
..                 ...                                  ...            ...
95          Diet Pepsi                          Addison Rae             81
96         Coincidence                    Sabrina Carpenter             73
97     Passport Junkie                             Rod Wave             61
98    Circadian Rhythm                                Drake             66
99       Sharpest Tool                    Sabrina Carpenter             76

   Peak Rank Weeks on Chart
0          1             24
1          1             20
2          3             24
3          4             25
4          3              6
..       ...            ...
95        81              3
96        26              5
97        61              2
98        59              4
99        21              5

[100 rows x 5 columns]

In [8]:
driver = webdriver.Chrome()

In [9]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [10]:
driver.maximize_window()

In [11]:
books_data = []


table = WebDriverWait(driver, 10).until(
    EC.presence_of_element_located((By.XPATH, "//div[@class='embed block']//table[@class='in-article sortable']"))
)
rows = table.find_elements(By.XPATH, ".//tbody/tr")


for row in rows:

    columns = row.find_elements(By.TAG_NAME, 'td')
    
    if len(columns) >= 6:  
        book_name = columns[1].text.strip()    
        author_name = columns[2].text.strip()  
        volumes_sold = columns[3].text.strip()  
        publisher = columns[4].text.strip()     
        genre = columns[5].text.strip()         

        # Append data to list
        books_data.append({
            'Book Name': book_name,
            'Author Name': author_name,
            'Volumes Sold': volumes_sold,
            'Publisher': publisher,
            'Genre': genre
        })


df = pd.DataFrame(books_data)

print(df)

driver.quit()

                                            Book Name       Author Name  \
0                                   Da Vinci Code,The        Brown, Dan
1                Harry Potter and the Deathly Hallows     Rowling, J.K.
2            Harry Potter and the Philosopher's Stone     Rowling, J.K.
3           Harry Potter and the Order of the Phoenix     Rowling, J.K.
4                                Fifty Shades of Grey      James, E. L.
..                                                ...               ...
95                                          Ghost,The    Harris, Robert
96                     Happy Days with the Naked Chef     Oliver, Jamie
97              Hunger Games,The:Hunger Games Trilogy  Collins, Suzanne
98  Lost Boy,The:A Foster Child's Search for the L...      Pelzer, Dave
99  Jamie's Ministry of Food:Anyone Can Learn to C...     Oliver, Jamie

   Volumes Sold        Publisher                        Genre
0     5,094,805       Transworld  Crime, Thriller & Adventure
1     4,475,152       Bloomsbury           Children's Fiction
2     4,200,654       Bloomsbury           Children's Fiction
3     4,179,479       Bloomsbury           Children's Fiction
4     3,758,936     Random House              Romance & Sagas
..          ...              ...                          ...
95      807,311     Random House   General & Literary Fiction
96      794,201          Penguin        Food & Drink: General
97      792,187  Scholastic Ltd.          Young Adult Fiction
98      791,507            Orion           Biography: General
99      791,095          Penguin        Food & Drink: General

[100 rows x 5 columns]

In [13]:
#IMDb
#404 Error
#Someday we'll find it... the website connection...

In [36]:
driver = webdriver.Chrome()

In [37]:
driver.get("https://archive.ics.uci.edu/")

In [38]:
driver.maximize_window()

In [40]:
button = driver.find_element(By.XPATH, "/html/body/div/div[1]/div[1]/main/div/div[2]/section[1]/div[2]/a")
driver.execute_script("arguments[0].scrollIntoView();", button)
button.click()

In [41]:
btn=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/label/select/option[5]")
btn.click()

In [44]:
datasets_data = []

dataset_containers = driver.find_elements(By.XPATH, "//div[@class='flex flex-col gap-1']/div[@role='row']")

for container in dataset_containers:
    try:
        # Dataset Name
        dataset_name = container.find_element(By.XPATH, ".//div[@class='relative col-span-8 sm:col-span-7']/h2/a").text.strip()
    except NoSuchElementException:
        dataset_name = "N/A"

    try:
        # Task
        task = container.find_element(By.XPATH, ".//div[@class='relative col-span-8 sm:col-span-7']/p[@class='truncate mr-8']").text.strip()
    except NoSuchElementException:
        task = "N/A"

    try:
        # Attribute type, Data type, No. of instances, No. of features
        details_div = container.find_element(By.XPATH, ".//div[@class='my-2 hidden gap-4 md:grid grid-cols-12']")
        attribute_type = details_div.find_elements(By.TAG_NAME, 'div')[0].text.strip()
        data_type = details_div.find_elements(By.TAG_NAME, 'div')[1].text.strip()
        num_instances = details_div.find_elements(By.TAG_NAME, 'div')[2].text.strip()
        num_features = details_div.find_elements(By.TAG_NAME, 'div')[3].text.strip()
    except NoSuchElementException:
        attribute_type = data_type = num_instances = num_features = "N/A"

    try:
        # Click the dropdown button for the year
        dropdown_button = container.find_element(By.XPATH, ".//svg[@class='absolute right-1 top-1/2 size-6 -translate-y-1/2 fill-primary size-5 transition-transform']")
        driver.execute_script("arguments[0].click();", dropdown_button)

        # Wait for the table row to load and extract the year
        table_row = WebDriverWait(driver, 10).until(
            EC.presence_of_element_located((By.XPATH, ".//div[@style]//table/tbody/tr"))
        )
        date = table_row.find_elements(By.TAG_NAME, 'td')[2].text.strip()
        year = date.split('/')[-1]
    except NoSuchElementException:
        year = "N/A"

    # Append the scraped data to the list
    datasets_data.append({
        'Dataset Name': dataset_name,
        'Data Type': data_type,
        'Task': task,
        'Attribute Type': attribute_type,
        'No. of Instances': num_instances,
        'No. of Features': num_features,
        'Year': year
    })

# Create a DataFrame from the list
df = pd.DataFrame(datasets_data)

# Print the DataFrame to verify
print(df)

                                         Dataset Name Data Type  \
0                                                Iris
1                                       Heart Disease
2                                        Wine Quality
3                                               Adult
4                Breast Cancer Wisconsin (Diagnostic)
5                                      Bank Marketing
6                                                Wine
7                                 Student Performance
8                                       Online Retail
9                                      Car Evaluation
10                                           Diabetes
11     Predict Students' Dropout and Academic Success
12                                         Automobile
13                                            Abalone
14                                           Mushroom
15                                        Air Quality
16                                           Dry Bean
17                       Statlog (German Credit Data)
18       Human Activity Recognition Using Smartphones
19                     Default of Credit Card Clients
20  Estimation of Obesity Levels Based On Eating H...
21                                           Auto MPG
22                                       Bike Sharing
23                                           Spambase
24                                   Online Retail II

                                                 Task  \
0   A small classic dataset from Fisher, 1936. One...
1   4 databases: Cleveland, Hungary, Switzerland, ...
2   Two datasets are included, related to red and ...
3   Predict whether annual income of an individual...
4        Diagnostic Wisconsin Breast Cancer Database.
5   The data is related with direct marketing camp...
6   Using chemical analysis to determine the origi...
7   Predict student performance in secondary educa...
8   This is a transnational data set which contain...
9   Derived from simple hierarchical decision mode...
10              This diabetes dataset is from AIM '94
11  A dataset created from a higher education inst...
12               From 1985 Ward's Automotive Yearbook
13  Predict the age of abalone from physical measu...
14  From Audobon Society Field Guide; mushrooms de...
15  Contains the responses of a gas multisensor de...
16  Images of 13,611 grains of 7 different registe...
17  This dataset classifies people described by a ...
18  Human Activity Recognition database built from...
19  This research aimed at the case of customers' ...
20  This dataset include data for the estimation o...
21  Revised from CMU StatLib library, data concern...
22  This dataset contains the hourly and daily cou...
23              Classifying Email as Spam or Non-Spam
24  A real online retail transaction data set of t...

                            Attribute Type  \
0                           Classification
1                           Classification
2               Classification, Regression
3                           Classification
4                           Classification
5                           Classification
6                           Classification
7               Classification, Regression
8               Classification, Clustering
9                           Classification
10                          Classification
11                          Classification
12                              Regression
13              Classification, Regression
14                          Classification
15                              Regression
16                          Classification
17                          Classification
18              Classification, Clustering
19                          Classification
20  Classification, Regression, Clustering
21                              Regression
22                              Regression
23                          Classification
24  Classification, Regression, Clustering

                               No. of Instances No. of Features Year
0                                       Tabular                  N/A
1                                  Multivariate                  N/A
2                                  Multivariate                  N/A
3                                  Multivariate                  N/A
4                                  Multivariate                  N/A
5                                  Multivariate                  N/A
6                                       Tabular                  N/A
7                                  Multivariate                  N/A
8         Multivariate, Sequential, Time-Series                  N/A
9                                  Multivariate                  N/A
10                    Multivariate, Time-Series                  N/A
11                                      Tabular                  N/A
12                                 Multivariate                  N/A
13                                      Tabular                  N/A
14                                 Multivariate                  N/A
15                    Multivariate, Time-Series                  N/A
16                                 Multivariate                  N/A
17                                 Multivariate                  N/A
18                    Multivariate, Time-Series                  N/A
19                                 Multivariate                  N/A
20                                 Multivariate                  N/A
21                                 Multivariate                  N/A
22                                 Multivariate                  N/A
23                                 Multivariate                  N/A
24  Multivariate, Sequential, Time-Series, Text                  N/A